rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users_data/{email} {
      allow read, write: if true;
    }
    
    // Generic fallback rules for nested subcollections if any
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
